extends layouts/main-layout.pug


block content
      
    +createPostForm(userLoggedIn)
    .postsContainer
    +commentModal(userLoggedIn)
    +createPostContent()
    +editPostContent()
    .loadingSpinnerContainer(style="display: none; text-align: center")
        img(src="/images/loadingSpinner.gif", alt="Loading spinner")
block scripts
    script(src="/javascripts/post.js")
    