extends layouts/main-layout.pug


block content
    .mainContainer
        .titleContainer 
            h1 #{pageTitle}    
    +createPostForm(userLoggedIn)
    .postsContainer
    +commentModal(userLoggedIn)
    +createPostContent()
block scripts
    script(src="javascripts/post.js")