extends layouts/main-layout.pug


block content
      
    +createPostForm(userLoggedIn)
    .postsContainer
    +commentModal(userLoggedIn)
    +createPostContent()
    +editPostContent()
block scripts
    script(src="javascripts/post.js")