extends layouts/admin-layout.pug

block content
    if userLoggedIn.role == 'admin'
        .feature
            .title
                h3
                    | Admin page
            
            .dropdown
                button#dropdownMenuButton.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | #{userLoggedIn.displayName}
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='/') Go to home page
                    a.dropdown-item(href='/logout') logout
        .btn-group.my-3
            button.btn.btn-light.border(type='button' data-toggle="modal" data-target="#createAccountModal" )
                i.fas.fa-folder-plus
                |  New Account
        table.table.table-hover.border#accountTable
            thead
                th office
                th account
                th access
                th Actions
            tbody
    if userLoggedIn.role == 'office'
        .feature
            .title
                h3
                    | Office
            
            .dropdown
                button#dropdownMenuButton.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | #{userLoggedIn.displayName}
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                    a.dropdown-item(href='/') Go to home page
                    a.dropdown-item(href='/logout') logout
        .btn-group.my-3
            button.btn.btn-light.border(type='button' data-toggle="modal" data-target="#createNotificationModal" )
                i.fas.fa-folder-plus
                |  Post a notification
        table.table.table-hover.border#notificationTable
            thead
                th Title
                th Category
                th Date
                th Actions
            tbody
    +chooseAccess()
    +createAccount()
    +createNotification()
    +editAccount()
            